.navbar-menu {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-right: 20px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  margin: 0;
  padding: 10px 40px;
  height: 400px;
}

.dropdown-menu li {
  padding: 5px 40px;
}

.dropdown-menu li a {
  text-decoration: none;
}

.dropdown-menu.show {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  width: max-content;
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}