<nav class="navbar fixed top-0 left-0 w-full bg-white z-40">
    <div class="flex justify-between px-8">
        <div class="flex space-x-8 items-center lg:w-[50%]">
            <div class="space-x-4 py-4">
                <span id="iconMenu" class="lg:hidden pi pi-bars"></span>
                <a routerLink="/" class="text-2xl font-semibold text-orange-500 cursor-pointer">NG Shop</a>
            </div>
            <div class="hidden lg:flex h-full" (mouseleave)="hideDropdown()">
                <a [routerLink]="options.link" *ngFor="let options of menu.options"
                    (mouseenter)="showDropdown(options.category)"
                    class="px-4 cursor-pointer flex items-center h-full border-y-4 border-y-transparent hover:border-b-orange-500 hover:text-orange-600">
                    <span class="w-full text-xs font-semibold uppercase ">{{ options.name }}</span>
                </a>
            </div>
        </div>
        <div class="flex items-center lg:w-[40%] justify-between py-4">
            <input class="hidden lg:inline-block w-9/12 p-1 border-2" placeholder="Search for product brand and more"
                type="text" pInputText [(ngModel)]="fullText" (keydown.enter)="search()" />
            <div class="space-x-4">
                <span id="iconSeacrh" class="lg:hidden pi pi-search"></span>
                <span id="iconUser" class="hidden lg:inline-block pi pi-user"></span>
                <a id="iconWishlist" routerLink="/wishlist"><span class="pi pi-heart"></span></a>
                <a id="iconCart" routerLink="/checkout/cart"><span class="pi pi-shopping-bag"></span></a>
            </div>
        </div>
    </div>
</nav>

<ul class="dropdown-menu flex z-20" (mouseenter)="keepDropdownVisible()" (mouseleave)="hideDropdown()"
    [class.show]="dropdownVisible">
    <li *ngFor="let category of currentSubItems">
        <a class="text-[11px] font-bold uppercase text-orange-500" [routerLink]="category.link">{{category.name }}</a>
        <div *ngFor="let subCategories of category.subCategories" class="flex flex-col flex-wrap">
            <a class="text-[11px] hover:font-bold text-gray-600 hover:text-black" [routerLink]="subCategories.link">
                {{subCategories.name }}
            </a>
        </div>
    </li>
</ul>