<div class="rounded border">
    <div class="space-y-2 p-4 md:w-2/3 text-[13px]">
        <h2 class="flex items-center space-x-4 text-[14px] text-heading font-medium ">
            <span class="">Order #{{order().id}}</span>
        </h2>
        <div class="flex space-x-4 w-full">
            <div class="w-24 h-24">
                <img [src]="order().products[0].urls[0]" alt="Product" class="w-full h-full object-cover">
            </div>
            <div>
                <p class="">Order Date: <span class="font-medium">{{order().orderDate|date:'dd MMM yyyy'}}</span></p>
                <p class="">Delivery Date: <span class="font-medium">{{order().deliveryDate|date:'dd MMM yyyy'}}</span></p>
                <p class="">Total: <span class="font-medium">{{order().paymentInfo.amount}}</span></p>
                <p class=""><span class="font-medium">{{order().status}}</span></p>
            </div>
        </div>
    </div>
</div>