<div class="mt-12 container mx-auto">
    <div id="main" class="flex justify-center">
        <div class="w-6/12 p-2 pr-6 md:border-r">
            <div class="space-y-2">
                <div id="address"
                    class="border p-4 rounded-md bg-orange-100 bg-opacity-50 flex justify-between items-center text-[11px]">
                    <div class="w-8/12">
                        <p class="text-[12px]">Delivered to: <span class="font-semibold capitalize">Ratnesh Siddha,
                                482002</span>
                        </p>
                        <p class="capitalize">Samdariya greencity, main road, Madhotaal, jabalpur</p>
                    </div>
                    <button
                        class="rounded border border-orange-500 font-semibold p-2 uppercase text-orange-600 align-middle">
                        Change address
                    </button>
                </div>
                <div id="offers" class="border p-4 rounded-md space-y-2">
                    <div class="flex items-center w-full text-xs space-x-2">
                        <span class="material-icons text-sm">local_offer</span>
                        <span>Available Offers</span>
                    </div>
                    <div>
                        <p class="text-wrap text-[11px] text-gray-600"><span class="mr-2">&#x2022;</span>Lorem ipsum
                            dolor sit amet
                            consectetur adipisicing elit. Ea repellendus consequuntur voluptas facilis lcmalc alsmclma
                            akscml</p>
                    </div>
                    <div>
                        <button
                            class="space-x-2 flex items-center text-[12px] font-semibold capitalize text-orange-500"><span>Show
                                More</span><span class="material-icons text-sm">expand_more</span></button>
                    </div>
                </div>
                <div id="action-add-remove" class="p-4 flex justify-between items-center text-sm">
                    <div class="space-x-2 flex items-center">
                        <input type="checkbox" name="" id=""> <span class="uppercase font-bold">2/2 item selected</span>
                    </div>
                    <div class="text-[11px] font-bold text-gray-600 flex space-x-8">
                        <button class="uppercase">remove</button>
                        <div class="h-8 border-l border-gray-300"></div>
                        <button class="uppercase">move to wishlist</button>
                    </div>
                </div>
                <div id="cart-item" class="space-y-2">
                    <div class="border flex space-x-4 p-4 rounded-md min-h-52 relative">
                        <div class="w-3/12 relative">
                            <input type="checkbox" class="absolute top-2 left-2">
                            <img class="w-full h-full object-cover"
                                src="https://images.unsplash.com/photo-1722195255633-a88675d20722?q=80&w=1915&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="">
                        </div>
                        <div class="w-11/12">
                            <h3 id="brand" class="capitalize text-[13px] font-bold">Anouk</h3>
                            <p id="product-name" class="capitalize text-gray-700 text-[12px]">Printed basic jumpsuit</p>
                            <p class="text-gray-500 text-[11px]">Sold by: <span class="uppercase">Eternal Clothing
                                    line</span></p>
                            <p class="text-[12px] space-x-2">
                                <span class="font-semibold">{{500|currency:'INR'}}</span>
                                <span class="text-gray-400 line-through">{{800|currency:'INR'}}</span>
                                <span class="text-orange-500">66% OFF</span>
                            </p>
                            <div>
                                <div class="py-2 flex space-x-2">
                                    <span
                                        class="bg-gray-200 p-[1px] px-[5px] font-bold text-[12px] flex items-center w-fit">
                                        Size:XS
                                        <span class="material-icons text-sm">expand_more</span>
                                    </span>
                                    <span
                                        class="bg-gray-200 p-[1px] px-[5px] font-bold text-[12px] flex items-center w-fit">
                                        Qty:1
                                        <span class="material-icons text-sm">expand_more</span>
                                    </span>
                                </div>
                            </div>
                            <p class="text-[12px] flex items-center space-x-1 mt-1">
                                <span class="material-icons text-xs">keyboard_return</span>
                                <span class="font-semibold">14 days</span>
                                <span>return available</span>
                            </p>
                            <p class="text-[12px] flex items-center space-x-1 mt-2">
                                <span class="material-icons text-sm text-green-600 font-bold">done</span>
                                <span>Delivery between</span>
                                <span class="font-semibold">5 Aug - 7 Aug</span>
                            </p>
                        </div>
                        <button class="absolute top-2 right-2"><span class="material-icons">close</span></button>
                    </div>
                    <!--  -->
                    <div class="border flex space-x-4 p-4 rounded-md min-h-52 relative">
                        <div class="w-3/12 relative">
                            <input type="checkbox" class="absolute top-2 left-2">
                            <img class="w-full h-full object-cover"
                                src="https://images.unsplash.com/photo-1722195255633-a88675d20722?q=80&w=1915&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="">
                        </div>
                        <div class="w-11/12">
                            <h3 id="brand" class="capitalize text-[13px] font-bold">Anouk</h3>
                            <p id="product-name" class="capitalize text-gray-700 text-[12px]">Printed basic jumpsuit</p>
                            <p class="text-gray-500 text-[11px]">Sold by: <span class="uppercase">Eternal Clothing
                                    line</span></p>
                            <p class="text-[12px] space-x-2">
                                <span class="font-semibold">{{500|currency:'INR'}}</span>
                                <span class="text-gray-400 line-through">{{800|currency:'INR'}}</span>
                                <span class="text-orange-500">66% OFF</span>
                            </p>
                            <div>
                                <div class="py-2 flex space-x-2">
                                    <span
                                        class="bg-gray-200 p-[1px] px-[5px] font-bold text-[12px] flex items-center w-fit">
                                        Size:XS
                                        <span class="material-icons text-sm">expand_more</span>
                                    </span>
                                    <span
                                        class="bg-gray-200 p-[1px] px-[5px] font-bold text-[12px] flex items-center w-fit">
                                        Qty:1
                                        <span class="material-icons text-sm">expand_more</span>
                                    </span>
                                </div>
                            </div>
                            <p class="text-[12px] flex items-center space-x-1 mt-1">
                                <span class="material-icons text-xs">keyboard_return</span>
                                <span class="font-semibold">14 days</span>
                                <span>return available</span>
                            </p>
                            <p class="text-[12px] flex items-center space-x-1 mt-2">
                                <span class="material-icons text-sm text-green-600 font-bold">done</span>
                                <span>Delivery between</span>
                                <span class="font-semibold">5 Aug - 7 Aug</span>
                            </p>
                        </div>
                        <button class="absolute top-2 right-2"><span class="material-icons">close</span></button>
                    </div>
                    
                </div>
                <div class="border p-4 rounded-md flex justify-between items-center">
                    <div class="flex items-center space-x-2">
                        <span class="material-icons text-[20px]">bookmark_border</span>
                        <span class="capitalize text-[14px] font-semibold">add more from wishlist</span>
                    </div>
                    <button class="flex items-center">
                        <span class="material-icons text-[20px]">
                            arrow_forward_ios
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="w-3/12 p-2"></div>
    </div>
</div>
<!-- border border-red-500 -->