<div class="flex mt-12">
  <div class="w-7/12">cs</div>
  <div class="w-5/12 space-y-5">
    <div class="">
      <b class="text-xl uppercase">Go Devil</b>
      <span class="block text-gray-500 text-xl">Printed t-shirt with regular trousar</span>
      <div class="mt-4">
        <app-rating-card [rating]="3" [reviewsCount]="103" text="Ratings"
          [css]="'bg-white text-sm border px-2'"></app-rating-card>
      </div>
    </div>
    <hr />
    <div class="space-y-6">
      <div>
        <div class="space-x-3">
          <span class="text-[20px] font-bold">₹1951</span> <!-- {{data.sellingPrice}} -->
          <span class="text-[17px] font-light text-gray-500 ">MRP <span class="line-through">₹3199</span></span>
          <!--{{data.actualPrice}}-->
          <span class="text-[17px] font-semibold text-red-500 opacity-70">(39% OFF)</span> <!--{{data.discount}}-->
        </div>
        <p class="font-semibold text-xs text-green-600 mt-1 ms-0">Inclusive of all taxes</p>
      </div>
      <div class="space-x-8 uppercase ">
        <span class="text-[13px] font-bold">Select Size</span>
        <span class="text-[11px] font-semibold text-orange-500">Size chart ></span>
      </div>
      <div class="flex space-x-2">
        <div class="w-11 h-11 flex items-center justify-center rounded-full border-2 text-xs font-semibold">
          L
        </div>
        <div class="w-11 h-11x flex items-center justify-center rounded-full border-2 text-xs font-semibold">
          XL
        </div>
      </div>
      <div class="font-semibold space-x-2 text-[13px]">
        <button class="rounded uppercase bg-orange-500 p-3 px-16 text-[#ffffff]">icon add to bart</button>
        <button class="rounded uppercase border-[2px] p-3 px-16">icon Wishlist</button>
      </div>
    </div>
    <hr />
    <div class="space-y-4">
      <b class="text-[13px] uppercase">Delivery options bus icon</b>
      <div class="">
        <input type="text" placeholder="Enter pincode" />
        <p class="" for="" class="text-gray-500 text-[10px]">Please enter PIN code to check delivery time & Pay on
          Delivery Availability</p>
      </div>
      <div class="text-gray-500 space-y-2 text-sm">
        <p>iterative info</p>
        <p>Pay on delivery might be available</p>
      </div>
    </div>
    <hr />
    <div>
      <b class="text-[13px] uppercase block">Best offers tag icon</b>
      <div class="mt-3">
        <b class="text-xs">Get additional offer</b>
        <p class="text-xs"><span>&#x2022;</span> Buy this style and unlock additional 10% off upto ₹250 on a
          selected catalogue.</p>
        <a class="text-[11px] text-orange-500 font-bold" href="">View Products</a>
      </div>
    </div>
    <hr />
    <div class="space-y-4">
      <div class="iterative">
        <div>
          <b class="text-[13px] uppercase">Product details</b>
          <p class="text-xs mt-3 text-gray-500">This co-ords consists of t-shirt and shorts Black ,brown brand logo
            printed t-shirt, has round neck, half
            sleeves, slip-on closure and regular waist hem Black , brown printed mid-rise shorts has elasticated
            waistband,
            has drawstring closure and straight hem</p>
        </div>
      </div>
      <div>
        <b class="text-[13px]">Specifications</b>
        <div class="grid grid-cols-2 gap-x-7">
          <div class="mb-2 border-b text-gray-500">
            <span class="text-[10px] block">Label</span>
            <span class="text-sm block title capitalize">info asc</span>
          </div>
          <div class="mb-2 border-b text-gray-500">
            <span class="text-[10px] block">Label</span>
            <span class="text-sm block title capitalize">info asc</span>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div>
      <b class="text-[13px] uppercase">Ratings star icon</b>
      <p>custom rating option</p>
    </div>
    <hr />
    <div class="space-y-4">
      <div>
        <b class="text-[13px] capitalize">Customer photos</b>
        <div>images</div>
      </div>
      <div class="space-y-2">
        <b class="text-[13px] capitalize">Customer Reviews (10)</b>
        <div class="space-y-2">
          <p class="space-x-2 text-xs"><span class="bg-green-600 text-white text-[8px] px-1 py-1 rounded">4⭐</span> Product
            is very good buy
            rate ih very high</p>
          <div class="flex justify-between text-xs">
            <span>Amit Singh1 | May 2024</span>
            <span>like 3 dislike 4</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>