<div class="container mx-auto px-2 pb-2">
    <!-- Page Title -->
    <div class="">
        <h1 class="text-lg uppercase font-semibold text-gray-800">My Orders</h1>
    </div>

    <div class="space-y-2 mt-4">
        <a [routerLink]="['/my/order/details',0]">
            <div class="rounded border">
                <div class="space-y-2 p-4 md:w-2/3 text-[13px]">
                    <h2 class="flex items-center space-x-4 text-sm lg:text-base text-heading font-medium ">
                        <span class="w-24 rounded-full bg-yellow-100 px-2 py-1 text-sm">Processing</span>
                        <span>Order #12346</span>
                    </h2>
                    <div class="flex space-x-4 w-full">
                        <div class="w-24 h-24">
                            <img src="https://images.unsplash.com/photo-1724599824488-ed1e81e11c1a?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Product" class="w-full h-full object-cover">
                        </div>
                        <div>
                            <p class="">Placed on: 2024-09-05</p>
                            <p class="">Date: <span class="font-medium"></span></p>
                            <p class="">Total: <span class="font-medium">Rs. 99.99</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>