<div id="card" class="cursor-pointer" (click)="OnClick.emit(this.data)">
    <div id="image" class="relative h-[35vh]">
        <span *ngIf="data.promotion"
            class="absolute right-3 top-3 z-10 rounded-sm bg-slate-700 p-[2px] text-[10px] text-white">AD</span>
        <img class="h-full w-full object-cover" [src]="data.urls[0]" [alt]="data.name" />
        <span class="absolute bottom-3 left-3 bg-slate-100 px-[6px] py-1 text-[10px]">{{data.ratings}} ⭐ |
            {{data.reviewsCount}}</span>
    </div>
    <div id="description" class="space-y-1 mt-2">
        <h3 id="p-name" class="font-semibold text-[14px]">{{data.name}}</h3>
        <h4 id="p-description" class="text-[13px]">{{data.description|slice:0:60}} @if(data.description.length>60){...}</h4>
        <div class="space-x-1">
            <span class="text-[13px]">Rs. {{data.sellingPrice}}</span>
            <span class="text-[11px] text-gray-500 line-through">Rs. {{data.actualPrice}}</span>
            <span class="text-[11px] text-red-500 opacity-70">({{data.discount}}% OFF)</span>
        </div>
        <p class="text-[11px]">Only few left</p>
    </div>
</div>